{erl_opts, [debug_info]}.

{port_env, [
  {".*", "CFLAGS", "$CFLAGS -Wall -O2"},
  {"DRV_CFLAGS",  "$DRV_CFLAGS -O3 -Wall -Wextra -I/usr/local/include/ -I/usr/local/Cellar/gd/2.1.0/include -L/usr/local/opt/jpeg/lib -L/usr/local/opt/libpng/lib"},
  {"DRV_LDFLAGS", "$DRV_LDFLAGS /usr/local/lib/libpuzzle.a /usr/local/Cellar/gd/2.1.0/lib/libgd.a /usr/local/opt/jpeg/lib/libjpeg.a /usr/local/opt/libpng/lib/libpng.a"}
]}.
{port_specs, [{"priv/puzzle.so", ["c_src/*.c"]}]}.

{deps, [
]}.
