{erl_opts, [debug_info]}.

{port_env, [
    {"DRV_LDFLAGS", "-lgd -ljpeg -lpng -lpuzzle -shared $ERL_LDFLAGS"},
    {"darwin", "DRV_LDFLAGS", "-lgd -ljpeg -lpng -lpuzzle -bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
    {"DRV_CFLAGS", "-Ic_src -g -Wall -fPIC $ERL_CFLAGS"}
]}.

{port_specs, [{"priv/puzzle.so", ["c_src/*.c"]}]}.

{deps, [
]}.
